.containerHome {
  justify-content: center;
  display: flex;
}
.itemContainer {
  margin-bottom: 10xp;
}
.titleUser {
  text-align: center;
  font-size: 40px;
  color: #426cdf;
}
.btn {
  width: 100px;
  height: 35px;
  border-radius: 1rem;
  background: #426cdf;
  border: 1px solid #426cdf;
  color: #fff;
}
.btn:hover {
  background: #2857d8;
  border: 1px solid #2857d8;
}
.idUser {
  width: 300px;
  height: 35px;
  border-radius: 2rem;
  border: 1px solid #426cdf;
  margin-right: 10px;
  padding-left: 10px;
}
.tableCellUser {
  width: 200px;
}
.tableBox {
  width: auto;
  display: flex;
}
