.containerNavBar {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}
.avatar {
  margin-left: 10px;
  margin-right: 10px;
}
.titleLinck {
  color: '#ffffff';
  margin-right: 20px;
}
.titleLinkNav.MuiLink-root {
  margin-right: 30px;
}
